.list {
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--color2);
}

.item:nth-child(odd) {
  background-color: var(--color1);
}

.title {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

.infoButtons {
  border-radius: 0.4rem;
  border: none;
  background-color: var(--color3);
  padding: 1rem;
  width: 10rem;
  align-self: center;
  color: white;
}

.infoButtons:hover {
  cursor: pointer;
  opacity: 0.6;
}

.item img {
  object-fit: cover;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
}

.back:hover {
  cursor: pointer;
  opacity: 0.6;
}

.options {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 0.5rem;
  color: white;
  bottom: 0;
  background-color: var(--color2);
  width: 100%;
  height: max-content;
  box-shadow: 0 1rem 2rem 1rem #2b1c2266;
}

.closed {
  height: 0;
  padding: 0 0.5rem;
}

.expand {
  position: absolute;
  top: -1.5rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  width: 100%;
}

.number,
.current {
  background-color: var(--color3);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.number {
  border: none;
}

.current {
  border: solid white;
}

.number:hover,
.current:hover {
  cursor: pointer;
}

.arrows {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.arrows:hover {
  cursor: pointer;
  opacity: 0.6;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 3rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: rgb(74, 10, 10);
  font-size: 1rem;
}

@media only screen and (min-width: 750px) {
  .item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
