.list {
  margin-top: var(--header-height);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  position: relative;
}

.item {
  height: 10rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--color2);
  color: white;
}

.item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.enter {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.even {
  background-color: var(--color2);
}

.evenEven {
  background-color: var(--color1);
}

.odd {
  background-color: var(--color1);
}

.oddEven {
  background-color: var(--color2);
}

@media only screen and (min-width: 750px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    height: 14rem;
    font-size: 1.5rem;
    background-color: var(--color2);
  }

  .item:nth-child(even) {
    background-color: var(--color1);
  }
}
